{% render 'partials/head.liquid' %}

<header class="header-story">
    <a class="back-button">
        <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3398 0.555078C14.0797 1.29502 14.0797 2.4947 13.3398 3.23464L4.5743 12.0001L13.3398 20.7656C14.0797 21.5055 14.0797 22.7052 13.3398 23.4452C12.5998 24.1851 11.4002 24.1851 10.6602 23.4452L0.554955 13.3399C-0.184985 12.6 -0.184985 11.4003 0.554955 10.6603L10.6602 0.555078C11.4002 -0.184863 12.5998 -0.184863 13.3398 0.555078Z" fill="white"/>
        </svg>
    </a>

    <button class="light-dark-button">
        <svg width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30.9593" cy="30.9594" r="22.1943" transform="rotate(-35.5257 30.9593 30.9594)" fill="#1D224D"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6761 10.7953C14.4509 18.3473 13.374 30.2013 19.67 39.0197C25.966 47.8379 37.5273 50.6686 47.0162 46.2873C46.0677 47.2786 45.0133 48.1958 43.8558 49.0223C33.8799 56.1448 20.0189 53.8317 12.8964 43.8558C5.77392 33.8799 8.08705 20.0189 18.0629 12.8964C19.2205 12.0699 20.4305 11.3705 21.6761 10.7953Z" fill="#FFFCFF"/>
        </svg>
    </button>

    <button class="on-off-button">
        <svg width="32" height="51" viewBox="0 0 32 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6506 1.90739C21.07 2.26681 21.1185 2.89811 20.7591 3.31744L17.6026 6.99998L21.4063 6.99997C23.2298 6.99995 24.6995 6.99992 25.8555 7.15534C27.0556 7.31669 28.0661 7.66189 28.8687 8.46444C29.6713 9.267 30.0164 10.2775 30.1778 11.4776C30.3332 12.6336 30.3332 14.1034 30.3332 15.9268V21.4065C30.3332 23.2299 30.3332 24.6997 30.1778 25.8556C30.0164 27.0558 29.6713 28.0663 28.8687 28.8688C28.0661 29.6714 27.0557 30.0166 25.8555 30.1779C24.6995 30.3334 23.2298 30.3333 21.4063 30.3333L10.5933 30.3333C8.76989 30.3333 7.30013 30.3334 6.14417 30.178C4.94403 30.0166 3.93353 29.6714 3.13097 28.8688C2.32842 28.0663 1.98323 27.0558 1.82187 25.8556C1.66646 24.6997 1.66648 23.2299 1.66651 21.4065L1.6665 15.9268C1.66648 14.1034 1.66645 12.6336 1.82187 11.4776C1.98322 10.2775 2.32842 9.267 3.13097 8.46444C3.93353 7.66189 4.94403 7.3167 6.14417 7.15534C7.30012 6.99993 8.76988 6.99995 10.5933 6.99998L14.397 6.99998L11.2406 3.31744C10.8812 2.89811 10.9297 2.26681 11.349 1.90739C11.7684 1.54797 12.3997 1.59653 12.7591 2.01585L15.9998 5.79672L19.2406 2.01585C19.6 1.59653 20.2313 1.54797 20.6506 1.90739ZM22.3332 9.00101L22.3332 28.3323C23.7276 28.328 24.7673 28.3063 25.589 28.1958C26.5674 28.0642 27.0855 27.8237 27.4545 27.4546C27.8235 27.0856 28.0641 26.5675 28.1956 25.5891C28.331 24.582 28.3332 23.2472 28.3332 21.3333V16C28.3332 14.0861 28.331 12.7513 28.1956 11.7441C28.0641 10.7658 27.8235 10.2477 27.4545 9.87865C27.0855 9.50964 26.5674 9.26904 25.589 9.1375C24.7673 9.02703 23.7276 9.00528 22.3332 9.00101ZM20.3332 28.3333L20.3332 8.99998L10.6665 8.99998C8.75262 8.99998 7.4178 9.0021 6.41067 9.13751C5.4323 9.26904 4.9142 9.50964 4.54518 9.87866C4.17617 10.2477 3.93557 10.7658 3.80403 11.7441C3.66863 12.7513 3.66651 14.0861 3.66651 16L3.66651 21.3333C3.66651 23.2472 3.66863 24.582 3.80404 25.5892C3.93557 26.5675 4.17617 27.0856 4.54519 27.4546C4.9142 27.8237 5.4323 28.0642 6.41067 28.1958C7.4178 28.3312 8.75262 28.3333 10.6665 28.3333L20.3332 28.3333Z" fill="white"/>
            <path d="M26.6665 21.3333C26.6665 20.5969 26.0695 20 25.3332 20C24.5968 20 23.9998 20.5969 23.9998 21.3333C23.9998 22.0697 24.5968 22.6666 25.3332 22.6666C26.0695 22.6666 26.6665 22.0697 26.6665 21.3333Z" fill="white"/>
            <path d="M26.6665 16C26.6665 15.2636 26.0695 14.6666 25.3332 14.6666C24.5968 14.6666 23.9998 15.2636 23.9998 16C23.9998 16.7364 24.5968 17.3333 25.3332 17.3333C26.0695 17.3333 26.6665 16.7364 26.6665 16Z" fill="white"/>
            <rect x="27.853" y="3" width="4.09413" height="37.9762" rx="2.04707" transform="rotate(45 27.853 3)" fill="#CB2222"/>
            <path d="M13.2083 47.07C12.5617 47.07 11.9717 46.92 11.4383 46.62C10.905 46.3133 10.4817 45.89 10.1683 45.35C9.86165 44.8033 9.70832 44.19 9.70832 43.51C9.70832 42.83 9.86165 42.22 10.1683 41.68C10.4817 41.1333 10.905 40.71 11.4383 40.41C11.9717 40.1033 12.5617 39.95 13.2083 39.95C13.8617 39.95 14.455 40.1033 14.9883 40.41C15.5217 40.71 15.9417 41.13 16.2483 41.67C16.555 42.21 16.7083 42.8233 16.7083 43.51C16.7083 44.1967 16.555 44.81 16.2483 45.35C15.9417 45.89 15.5217 46.3133 14.9883 46.62C14.455 46.92 13.8617 47.07 13.2083 47.07ZM13.2083 46.28C13.695 46.28 14.1317 46.1667 14.5183 45.94C14.9117 45.7133 15.2183 45.39 15.4383 44.97C15.665 44.55 15.7783 44.0633 15.7783 43.51C15.7783 42.95 15.665 42.4633 15.4383 42.05C15.2183 41.63 14.915 41.3067 14.5283 41.08C14.1417 40.8533 13.7017 40.74 13.2083 40.74C12.715 40.74 12.275 40.8533 11.8883 41.08C11.5017 41.3067 11.195 41.63 10.9683 42.05C10.7483 42.4633 10.6383 42.95 10.6383 43.51C10.6383 44.0633 10.7483 44.55 10.9683 44.97C11.195 45.39 11.5017 45.7133 11.8883 45.94C12.2817 46.1667 12.7217 46.28 13.2083 46.28ZM20.1396 42.27H18.9896V47H18.0796V42.27H17.3696V41.52H18.0796V41.13C18.0796 40.5167 18.2363 40.07 18.5496 39.79C18.8696 39.5033 19.3796 39.36 20.0796 39.36V40.12C19.6796 40.12 19.3963 40.2 19.2296 40.36C19.0696 40.5133 18.9896 40.77 18.9896 41.13V41.52H20.1396V42.27ZM23.4307 42.27H22.2807V47H21.3707V42.27H20.6607V41.52H21.3707V41.13C21.3707 40.5167 21.5273 40.07 21.8407 39.79C22.1607 39.5033 22.6707 39.36 23.3707 39.36V40.12C22.9707 40.12 22.6873 40.2 22.5207 40.36C22.3607 40.5133 22.2807 40.77 22.2807 41.13V41.52H23.4307V42.27Z" fill="white"/>
        </svg>
    </button>
</header>

<main>
    <section>
        <img src="https://fdnd-agency.directus.app/assets/{{ story.image }}">
        <p>{{ story.audio[0].transcript }}</p>
        <h2>{{ story.title }}</h2>
    </section>
    <button>
        <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.7928 1.11626C19.5181 1.38349 20 2.07454 20 2.84754L20 21.1517C20 21.9247 19.5181 22.6157 18.7928 22.883C17.4205 23.3886 15.9129 23.3886 14.5405 22.883C13.8152 22.6157 13.3333 21.9247 13.3333 21.1517L13.3333 2.84754C13.3333 2.07454 13.8152 1.38349 14.5405 1.11626C15.9129 0.610661 17.4205 0.610661 18.7928 1.11626Z" fill="white"/>
            <path d="M5.45947 1.11626C6.18481 1.38349 6.66667 2.07454 6.66667 2.84754L6.66667 21.1517C6.66667 21.9247 6.1848 22.6157 5.45947 22.883C4.08713 23.3886 2.57953 23.3886 1.2072 22.883C0.481861 22.6157 -3.86158e-08 21.9247 0 21.1517L9.144e-07 2.84754C9.53015e-07 2.07454 0.481862 1.38349 1.2072 1.11626C2.57954 0.610661 4.08713 0.610661 5.45947 1.11626Z" fill="white"/>
        </svg>
    </button>
    <button>
        <svg width="33" height="28" viewBox="0 0 33 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.3492 2.07643C20.1857 0.76872 18.6408 0.159092 17.6284 1.00279L9.26324 7.97376C9.11348 8.09856 8.9247 8.16691 8.72975 8.16691H2.24984C1.09924 8.16691 0.166504 9.09965 0.166504 10.2502V17.7502C0.166504 18.9008 1.09924 19.8336 2.24984 19.8336H8.72975C8.9247 19.8336 9.11348 19.9019 9.26324 20.0267L17.6284 26.9977C18.6408 27.8414 20.1857 27.2318 20.3492 25.9241L20.5089 24.6466C21.3926 17.5765 21.3926 10.424 20.5089 3.35393L20.3492 2.07643Z" fill="white"/>
            <path d="M29.1801 3.90986C29.8355 3.69309 30.5426 4.04869 30.7594 4.70413C31.7268 7.62907 32.2498 10.7548 32.2498 14.0003C32.2498 17.2457 31.7268 20.3714 30.7594 23.2964C30.5426 23.9518 29.8355 24.3074 29.1801 24.0907C28.5247 23.8739 28.1691 23.1668 28.3858 22.5114C29.2705 19.8365 29.7498 16.9756 29.7498 14.0003C29.7498 11.0249 29.2705 8.16403 28.3858 5.48915C28.1691 4.83371 28.5247 4.12664 29.1801 3.90986Z" fill="white"/>
            <path d="M26.0536 7.24641C25.8156 6.59841 25.0972 6.26611 24.4492 6.5042C23.8012 6.74229 23.4689 7.46061 23.707 8.10861C24.3812 9.9435 24.7498 11.9274 24.7498 14.0003C24.7498 15.7196 24.4962 17.3775 24.0252 18.9397C23.999 19.0267 23.972 19.1135 23.9444 19.1999C23.8701 19.4328 23.7909 19.6635 23.707 19.8919C23.4689 20.5399 23.8012 21.2582 24.4492 21.4963C25.0972 21.7344 25.8156 21.4021 26.0536 20.7541C26.1499 20.492 26.2408 20.2272 26.3261 19.96C26.3578 19.8608 26.3887 19.7612 26.4188 19.6613C26.9596 17.8676 27.2498 15.9667 27.2498 14.0003C27.2498 11.6289 26.8278 9.35336 26.0536 7.24641Z" fill="white"/>
        </svg>
    </button>
</main>

<footer>
    <p>progression bar</p>
</footer>

{% render 'partials/footer.liquid' %}