{% render 'partials/head.liquid' %}
<header>
    <button>terug</button>
    <button>dag/nacht</button>
    <button>geen filmpje</button>
</header>
<main>
    <section>
        <img src="https://fdnd-agency.directus.app/assets/{{ story.image }}">
        <p>{{ story.audio[0].transcript }}</p>
        <h2>{{ story.title }}</h2>
    </section>
    <button>play/pause</button>
    <button>volume</button>
</main>
<footer>
    <p>progression bar</p>
</footer>

{% render 'partials/footer.liquid' %}